name: Build Image busybox

on:
  push:
    branches:
      - dev
    tags:
      - "*"
    paths: 
    - 'busybox/*'
  schedule:
    - cron: "15 4 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/mcsps/busybox
          tags: |
            type=ref,event=tag
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=latest
      - name: Install Cosign
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: "v2.4.0"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build (PR only)
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v5
        with:
          context: ./busybox
          platforms: linux/amd64,linux/arm64
          push: false
      - name: Build and push (merge only)
        if: github.event_name == 'push'
        uses: docker/build-push-action@v5
        with:
          context: ./busybox
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/mcsps/busybox:latest
            ${{ steps.meta.outputs.tags }}
      - name: Sign Push
        if: github.event_name == 'push'
        run: |
          cosign sign --key env://COSIGN_KEY --tlog-upload=false ghcr.io/mcsps/busybox@${{ steps.build-push.outputs.digest }}
        env:
          COSIGN_KEY: ${{secrets.COSIGN_KEY}}
