name: Build Image nginx-non-root

on:
  push:
    paths: 
    - 'nginx-non-root/*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/mcsps/nginx-non-root
          tags: |
            type=raw,value=latest
            type=semver,pattern={{version}},value=1.29.0 # change also in the Dockerfile
      - name: Install Cosign
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: "v2.4.0"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build (PR only)
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v5
        with:
          context: ./nginx-non-root
          platforms: linux/amd64,linux/arm64
          push: false
      - name: Build and push (merge only)
        if: github.event_name == 'push'
        uses: docker/build-push-action@v5
        with:
          context: ./nginx-non-root
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/mcsps/nginx-non-root:latest
            ${{ steps.meta.outputs.tags }}
      - name: Sign Push
        if: github.event_name == 'push'
        run: |
          cosign sign --key env://COSIGN_KEY --tlog-upload=false ghcr.io/mcsps/nginx-non-root@${{ steps.build-push.outputs.digest }}
        env:
          COSIGN_KEY: ${{secrets.COSIGN_KEY}}
