name: Test

on:
  push:
    branches:
      - test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print COSIGN_KEY for debugging
        run: |
          echo "Key length: COSIGN_KEY"
        env:
          COSIGN_KEY: ${{secrets.COSIGN_KEY}}
      - name: Curl A
        run: |
          curl -v https://demoapp.e.mcsps.de
      - name: Curl B
        run: |
          TOKEN="$(echo -n "$COSIGN_KEY" | tr -d '\r\n')"
          curl -v -H "X-Authorization: $TOKEN" https://demoapp.e.mcsps.de
        env:
          COSIGN_KEY: ${{secrets.COSIGN_KEY}}
